*~
.emacs.d/auto-save-list
.emacs.d/thumbs
.emacs.d/elpa
.emacs.d/eshell
.emacs.d/ido.last
.emacs.d/tramp
.emacs.d/ac-comphist.dat
.emacs.d/geben
.emacs.d/.emacs.desktop*
.emacs.d/recentf
.emacs.d/smex-items
.emacs.d/url
.emacs.d/jabber-history
.emacs.d/cider-history

etc/nixos/hardware-configuration.nix